body{
    background: linear-gradient(68.15deg, #01241c 45.62%, #3d857b 85.61%);
    color:white;
    padding: 10px;
    font-size: 20px;
}

h1{
margin: 10px;
position: relative;
display: inline-block;
display: flex;
justify-content: center;
padding: 10px;
font-size: 75px;
text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.952)
}
h1::before{
content:"";
position: absolute;
top:70%;
left:50%;
transform: translate(-50%, -50%);
background:url(https://i.pinimg.com/1200x/b9/96/58/b996580eed813579601c7bb157cdd2d0.jpg) no-repeat center;
background-size: contain;
width: 1000px;
height: 600px;
z-index: -1;
text-align: center;
}

h2{
font-size: 40px;
}
.container{
    text-align: center;
}
nav{
padding: 60px;
}
nav a{
background-color: #45796c;
border-radius: 30px;
padding:10px;
text-decoration: none;
color: #e3f7f4;
font-size: 20px;
font-family: 'Great Vibes';
cursor: pointer;
}
nav>a:hover{
color:rgb(8, 8, 8)
}

.imagem-2{
display: flex;
align-items: center;
justify-content: space-between;
margin: 60px;
width: 80%;
flex: 1;
flex-direction: row-reverse;
}

.imagem-2 img{
width: 300px;
border-radius: 300px;
border: 7px solid rgb(92, 124, 117);
}

.imagem-3{
display: flex;
align-items: center;
justify-content: space-between;
margin: 50px;
width: 90%;
flex: 1;
gap: 30px;
}

.imagem-3 img{
width: 300px;
height: 250px;
border-radius: 20%;
border: 7px solid rgb(92, 124, 117);
}

.cards-container{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 5px;
    margin: 5px;
    gap: 30px;
}

.cards:hover{
    transition: 1s;
    transform: scale(1.1);
}

.cards{
    text-align: center;
    width: 265px;
    background-color: #3d857b;
    border-radius: 9%;
}

.cards h3{
    font-family: 'Great Vibes';
    font-size: 30px;
    text-shadow:  2px 2px 6px rgba(39, 39, 39, 0.952);
}

.cards img{
    width: 250px;
    height: 250px;
    border-radius: 10%;
    border: 7px solid rgb(186, 221, 207);
}
.central{
    text-align: center;
    font-weight: bold;
}
.central2{
   text-align: center;
   font-weight: bold;
}
.central2 li{
    list-style: none;
}

button{
    background-color: #3d857b;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-family:'Great Vibes';
    font-size: 23px;
    cursor: pointer;
}
button:hover{
    background-color: #7bbdad;
    color: #01241c;
    transform: scale(1.05);
}

.central3{
    text-align: center;
    font-weight: bold;
}

input{
    background-color: #e3f7f4;
    border-radius: 20px;
    padding: 10px 10px;
}
.central4{
    text-align: center;
}

footer{
    text-align: center;
    padding: 5px 60px;
    margin-top: 50px;
}


